html,
body {
    background: #f4f8fb;
    font-family: 'Montserrat', 'Adobe Blank', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
  margin-bottom: 20px;
}
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../images/full_stack_developer.jpg') no-repeat center center fixed;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.img-centered {
  margin: auto;
}

.no-padding {
  padding: 0px !important;
}

.is-justify {
  text-align: justify;
}

.dark-bg {
  background-image: linear-gradient(to top, #052c65, #000);

}

.dark-bg h1{
  color: #fff !important;
}

.dark-bg p{
  color: #fff !important;
}

.dark-bg p strong{
  color: #fff !important;
}

.skillset {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}

.skillset div {
  background: cyan;
  padding: 10px;
  margin: 10px;
}

.work-projects {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}

.work-projects div {
  margin-bottom: 20px;
}

#contact {
  color: #fff;
}